.signout-btn {
  margin-right: 30px;
}

@media screen and (max-width: 991px) {
  .signout-btn {
    margin-left: 540px;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 768px) {
  .signout-btn {
    margin-left: 160px;
    flex-basis: 100%;
  }
}
